/* packages/theme/solarized.css */

@import './base.css';

:root {
  --venia-bg: #002b36;
  --venia-fg: #839496;
  --venia-border: #073642;
  --venia-btn-bg: #073642;
  --venia-btn-bg-hover: #094652;
  --venia-focus: #2aa198;
  --venia-toggle-off: #073642;
  --venia-toggle-on: #2aa198;
  --venia-font: system-ui, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --venia-bg: #839496;
    --venia-fg: #002b36;
    --venia-border: #eee8d5;
    --venia-btn-bg: #eee8d5;
    --venia-btn-bg-hover: #eee8d5;
    --venia-toggle-off: #eee8d5;
    --venia-toggle-on: #268bd2;
  }
}